<div class="account-container">
<h2>Account details</h2>
<p>Xp needed to level up</p>
<p>// TODO add level</p>
<p>Name</p>
<p><%= name %></p>
<p>Username</p>
<p><%= username %></p>
<p>Mail </p>
<p><%= mail %></p>
<p>XP</p>
<p><%= xp %></p>
<p>Password</p>
<button>Change Password</button>
<button>Delete Account</button>
<P>Delete this account and all data related to the account. Warning this action is irreversible</P>
</div>