<footer>
    <div class="home">
        <a href="/">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="">
        </a>
    </div>
    <div class="add-habit">
        <a href="/edit">
            <img src="https://cdn-icons-png.flaticon.com/512/32/32339.png" alt="">
        </a>
    </div>
    <div class="level">
        <a href="/level">
            <img src="https://cdn.iconscout.com/icon/free/png-256/free-xp-icon-download-in-svg-png-gif-file-formats--premium-rewards-event-pass-pubg-pack-sports-games-icons-1070696.png" alt="">
        </a>
    </div>
    <div class="account">
        <a href="/account">
            <img src="https://cdn-icons-png.flaticon.com/512/3276/3276535.png"  alt="">
        </a>
    </div>
</footer>