<main>
    <div class="habits-today">
        <% if (habits.length > 0) { %>
            <% habits.forEach(habit => { %>
                <div class="habit">
                    <input type="checkbox" name="habit-checkbox" id="habit-checkbox">
                    <p><%= habit.text %></p>
                    <p><%= habit.xp %> xp</p>
                </div>
        <% }) %>
       <% } %>
    </div>
</main>