<div class="container-admin">
    <h2>Glömt lösenord</h2>
        <div class="form-group">
            <p>Klicka på länken som skickats till <%= email %> för att återställa lösenord. Länken är giltigt i 1 timme</p>
            <p>Har det inte kommit fram något? Kolla skräpposten</p><a href="/login">Logga in</a>
        </div>
</div>
