<div class="container-admin">
    <h2>Logga in </h2>
    <form action="/login" method="post" class="admin-login-form">
        <div class="form-group">
            <label for="username">Användarnamn:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Lösenord:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <p><a class="forgot-password-link" href="/login/forgot-password">Har du glömt ditt lösenord?</a></p>
            <p><a href="/register">Inte registrerad? Registrera dig!</a></p>
            <input type="submit" value="Logga in">
        </div>        
    </form>
</div>
