<div class="container-admin">
    <h2>Ange nytt lösenord</h2>
    <form action="/login/reset-password/<%= token %>" method="post" class="admin-login-form">
        <div class="form-group">
            <label for="password">Nytt lösenord:</label>
            <input type="password" id="password" name="password" required minlength="8">
        </div>
        <div class="form-group">
            <label for="passwordsame">Ange Lösenordet igen:</label>
            <input type="password" id="passwordsame" name="passwordsame" required minlength="8">
        </div>
        <div class="form-group">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
